$color: #0B1530;

@font-face {
    font-family: Exo2;
    src: url('../fonts/Exo_2/Exo2-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: Agbalumo;
    src: url('../fonts/Agbalumo/Agbalumo-Regular.ttf');
}